# OS / editor
.DS_Store
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.venv/
.env

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/*.tfvars.json
*.tfstate
*.tfstate.*
crash.log
*.tfvars

# Keys / secrets
*.pem
*.key
*.p12

# Logs
*.log

# Docker
*.tar
